#par1 {
    color: rgb(255, 255, 255); 
}
#par2 {
    color: rgb(0, 0, 0); 
}
#par3 {
    color: rgb(255, 0, 0);
}
#par4 {
    color: rgb(0, 255, 0); 
}
#par5 {
    color: rgb(0, 0, 255); 
}
#par6 {
    color: rgb(255, 255, 0); 
}
#par7 {
    color: rgb(135, 206, 235); 
}
#par8 {
    color: rgb(221, 160, 221); 
}
#par9 {
    color: rgb(169, 169, 169); 
}
#par10 {
    color: rgb(144, 238, 144);
}
#par11 {
    color: rgb(173, 216, 230); 
}
#par12 {
    color: rgb(139, 0, 0); 
}

#par13 {
    color: rgb(210, 105, 30); 
}