
p {
    font-size: 16px;
    color: blue;
}


#title {
    font-size: 32px;
    color: green;
    text-align: center;
}


.content {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    padding: 10px;
}



