
a {
    text-decoration: none; 
    font-size: 16px;
    font-weight: normal; 
    color: #000000;
}

a:hover {
    font-size: 20px;
    font-weight: bold; 
    color: rgb(255, 0, 0); 
}

a:active {
    font-size: 14px; 
    font-weight: 900; 
    color: #0000FF; 
}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 5px solid green;
}

td {
    padding: 10px;
    text-align: center;
}
