button{
    text-align: center;
    background-color: #000;
    color:white;
    cursor: pointer;
    
}
button:hover{
    background-color: blue;
}
#pirveli{
    border-style: groove;
    background-color: rgba(0, 0, 0, 0.808);
    color: rgb(8, 189, 8);
}

#meore{
    border-style: groove;
    background-color: rgb(0, 168, 112);
    color: rgb(235, 133, 0);
}

#mesame{
    border-style: groove;
    background-color: rgba(170, 0, 0, 0.808);
    color: rgb(41, 8, 189);
}
#meotxe{
    border-style: groove;
    background-color: rgba(212, 0, 255, 0.808);
    color: rgb(0, 225, 255);
}

#mexute{
    border-style: groove;
    background-color: rgba(0, 0, 0, 0.808);
    color: rgb(255, 0, 0);
}

#meeqvse{
    border-style: groove;
    background-color:#fff;
    color:#ff0000;
}

#meshvide{
    border-style: groove;
    background-color: #0000ff;
    color: #ffff00;
}

#merve{
    border-style: groove;
    background-color: #000;
    color: #fff;
}

#mecxre{
    border-style: groove;
    background-color: #00ffff;
    color: #FE2EC8;
}

#meate{
    border-style: groove;
    background-color:#0101DF ;
    color: #F781D8;
}

.arvici {
    width: 1000px;
    height: 1000px;
    background-color: #008000; 
  }
  
 
  .kaikaci
   {
    width: 20%;   
    height: 15%;  
    background-color: #000000; 
  }


.bloki1 {
    width: 150px;   
  height: 150px;  
  background-color: #FF6347;
}

.bloki2 {
    width: 150px;   
    height: 150px;
  background-color: #4682B4; 
}

.bloki3 {
    width: 150px;   
    height: 150px;
  background-color: #32CD32; 
}

.bloki4 {
    width: 150px;   
    height: 150px;
  background-color: #FFD700; 
}

.bloki5 {
    width: 150px;   
    height: 150px;
  background-color: #8A2BE2; 
}

.bloki6 {
    width: 150px;   
    height: 150px;
  background-color: #FF1493; 
}

.bloki7 {
    width: 150px;   
    height: 150px;
  background-color: #00CED1; 
}

.bloki8 {
    width: 150px;   
    height: 150px;
  background-color: #DC143C; 
}

.bloki9 {
    width: 150px;   
    height: 150px;
  background-color: #00FF00;
}

.bloki10 {
    width: 150px;   
    height: 150px;
  background-color: #1E90FF;
}