
p {
    text-decoration: underline;
}


a {
    text-decoration: none;
}


h1 {
    text-decoration: overline;
}

span {
    text-decoration: line-through;
}

h2 {
    text-decoration: underline overline;
}

a {
    text-decoration: underline dashed;
}

p.warning {
    text-decoration: underline wavy red;
}

nav a {
    text-transform: uppercase;
}

h1, h2, h3 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

p {
    text-shadow: 2px 2px 4px red;
}




p {
    font-family:  sans-serif;
}




h1, h2, h3 {
    font-family:  sans-serif;
}

p {
    font-family:  sans-serif;
}



h1, h2, h3 {
    font-family:  serif;
}

p {
    font-family:  sans-serif;
}


@font-face {
    font-family: CustomFont;
    src:url(NewpitchScript_PERSONAL_USE_ONLY.otf);
}

h1, h2, h3 {
    font-family: 'CustomFont', sans-serif;
}


@font-face {
    font-family: ButtonFont;
    src: url(Daily\ Bubble.ttf) ;
}

button {
    font-family: 'ButtonFont', sans-serif;
}
