input {
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

    button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }


  input:focus {
    border-color: #4CAF50;
    background-color: #e8f5e9;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .error-message::before {
    content: 'error';
    margin-right: 5px;
  }


  div {
    padding: 20px;
    margin-bottom: 20px;
  }

  div.custom-padding {
    padding: 20px 30px 15px 10px; 
  }


  div.box {
    border: 2px solid #000;
    padding: 20px;
  }

  div.rounded-box {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
  }

  p {
    margin: 20px 0;
  }


  button {
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
  }


  div.shadow-box {
    border: 2px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }


  ul li {
    margin-bottom: 10px;
  }

  div.negative-margin {
    margin-top: -10px;
  }