#pirveli{
    color: blue;
    background-color: #ffff;
}

#meore{
    color: aqua;
    background-color: #FFFF00;
}

#mesame{
    color: black;
    background-color:  #000000; ;
}

.deda{
    background-color: #FFFF00;
    height: 120px;
}

.shvili{
    background-color: blanchedalmond;
    height: 30px;
}
